.header {
  position: relative;
  z-index: $zindex-fixed;
  background-color: $white;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__logo {
    display: inline-flex;
    margin: 5px 0;

    img {
      height: 60px;
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex: 1;
  }

  @include media-breakpoint-up(xl) {
    &__logo {
      img {
        height: 80px;
      }
    }

    &__elements {
      display: block;
      flex: 0 0 auto;
      margin-left: auto !important;
    }
  }
}

.navigation {
  height: 1px;
  background-color: $secondary;

  @include media-breakpoint-up(xl) {
    height: 50px;
  }
}

.mb-nav {
  display: flex;

  a {
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: #333;

    &:hover {
      color: $primary;
    }

    &:not(:last-child) {
      margin-right: 24px;
      position: relative;

      &::after {
        content: '';
        display: block;
        height: 20px;
        border-right: 1px solid $border-color;
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
      }
    }
  }
}

.h-support {
  display: none;

  @include media-breakpoint-up(xl) {
    display: block;
    font-size: 12px;
    line-height: 1.2;

    a {
      font-size: 17px;
      font-weight: 700;
      color: $secondary;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }
}

.top-page {
  display: none;
  flex-wrap: wrap;
  align-items: center;

  &__info {
    font-size: 13px;
    line-height: 20px;
    padding: 5px 0;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
  }
}

.top-nav {
  .nav-item {
    &:not(:last-child) {
      margin-right: 23px;
      position: relative;

      .nav-link {
        display: inline-block;
        position: relative;

        &::before {
          content: '';
          display: block;
          height: 12px;
          border-right: 1px solid $border-color;
          position: absolute;
          top: 50%;
          right: -12px;
          transform: translateY(-50%);
        }
      }
    }
  }

  .nav-link {
    font-size: 13px;
    line-height: 30px;
    color: #111;
    padding: 5px 0;

    &:hover {
      color: $primary;
    }

    i {
      color: $primary;
    }
  }

  .nav-item.dropdown {
    &::before,
    &::after {
      content: '';
      display: none;
      width: auto !important;
      height: auto !important;
      position: absolute;
      z-index: 1001;
      top: auto !important;
      right: auto !important;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border: 8px solid transparent;
      border-bottom-color: $border-color;
    }

    &::after {
      bottom: -2px;
      border-bottom-color: $white;
    }

    &:hover::before,
    &:hover::after {
      display: block;
    }
  }

  .nav-item:last-child .dropdown-menu {
    left: auto;
    right: 0;
  }

  .dropdown-menu {
    min-width: 200px;
    padding: 16px 20px;
    box-shadow: 0 2px 10px rgba(#000, 0.16);

    li {
      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  .dropdown-item {
    font-size: 14px;
    padding: 8px 0;

    &:hover {
      background: 0;
      color: $primary;
    }
  }

  @include media-breakpoint-up(xl) {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }
}

.h-btns {
  padding: 20px;

  &__btn {
    display: block;
    width: 100%;
    background-color: $primary;
    color: $white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 16px;

    &:hover {
      background-color: darken($primary, 5%);
      color: $white;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.bg-danger:hover {
      background-color: $danger !important;
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    position: absolute;
    top: calc(100% + 25px);
    right: 0;
    transform: translateY(-50%);
    padding: 0;

    &__btn {
      white-space: nowrap;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}
