.breadcrumb {
  &-item {
    &,
    & + &::before,
    &.active,
    &.active::before,
    a,
    a:hover {
      color: $gray-800;
    }
  }

  &--white .breadcrumb-item,
  &--white .breadcrumb-item + .breadcrumb-item::before,
  &--white .breadcrumb-item + .breadcrumb-item.active,
  &--white .breadcrumb-item + .breadcrumb-item.active::before,
  &--white .breadcrumb-item a,
  &--white .breadcrumb-item a:hover {
    color: $white;
  }
}

.pagination {
  margin-bottom: 0;

  .page-item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .page-link {
    color: $gray-800;
    padding: 8px 16px;
    border-radius: 4px;
  }

  @media (max-width: 767px) {
    .page-link {
      padding: 4px 10px;
    }
  }
}

.search {
  .form-control {
    font-size: 12px;
    border-right: 0;

    &:focus {
      box-shadow: unset;
    }
  }

  .input-group-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .form-control:focus ~ .input-group-text {
    border-color: rgb(226, 208, 184);
  }

  @media (min-width: 1200px) {
    width: 700px;
    padding: 0;
    border: 0;
    background: 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .input-group-text {
      background-color: $secondary;
      color: $white;
      border-color: $secondary;
    }

    .form-control:focus ~ .input-group-text {
      border-color: $secondary;
    }
  }
}
