.s-share {
  background-color: $white;

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: $secondary;
    padding: 8px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 0;
  }

  &__body {
    padding: 8px;
  }

  &__more {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: $secondary;
    text-align: center;
    border-top: 1px solid $border-color;
  }
}

.c-post {
  & + & {
    margin-top: 8px;
  }

  &__frame {
    @include frame('rect', 50%);
    width: 120px;
  }

  &__title {
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__info {
    font-size: 12px;
    color: #666;
  }
}

.news-btn {
  display: block;
  flex-grow: 1;
  border: 1px solid $danger;
  background-color: $white;
  color: #111;
  padding: 16px;

  &:hover {
    color: $primary;
    text-decoration: none;
  }

  &__text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f14f66;
    border-radius: 4px;
    color: $white;
    font-size: 20px;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
